h1{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 100px;
    margin-left: 500px;
}
body{
    background-color: rgb(6, 6, 83);
}
img{
    margin-left: 200px;
}
li{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 50px;
}
#oita{
    margin-left: 500px;
}
#button-1{
    margin-top: 700px;
}
#button-2{
    margin-top: 700px;
}
#button-3{
    margin-top: 700px;
}